<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<script th:replace="fragments/header.html :: headerElement"></script>
	<title>Feature Vote Product</title>
</head>
<body>
<div th:replace="fragments/header.html :: header"></div>
<div class="container mt-2">
	<div class="row">
		<div class="col-8">
			<h1 th:inline="text">Feature Vote Dashboard</h1>
		</div>
	</div>

	<div class="card my-2" th:each="product : ${products}">
		<div class="card-body">
			<h5 class="card-title" th:text="${product.name}">Special title treatment</h5>
			<h6 class="card-subtitle mb-2">
					<span th:class="${product.published ? 'badge badge-pill badge-success' : 'badge badge-pill badge-secondary'}"
					      th:text="${product.published ? 'Published' : 'Not published'}">
						Not known
					</span>
			</h6>
			<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			<a class="btn btn-warning" th:href="@{/products/{productId}(productId=${product.id})}">Edit</a>
			<a class="btn btn-info" th:href="@{/p/{productName}(productName=${product.name})}">View feature request</a>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<form action="/products" method="post">
				<input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden" />
				<button class="btn btn-primary" id="create_product">Create product</button>
			</form>
		</div>
	</div>
</div>
</body>
</html>