<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<script th:replace="fragments/header.html :: headerElement"></script>
	<link href="../static/styles/feature.css" rel="stylesheet" th:href="@{/styles/feature.css}" />
	<title>Feature Vote Product</title>
	<script type="text/javascript">
        $(function () {
            $("div[id*='replyBtn-']").click(function () {
                let commentId = $(this).prop("id").split("-")[1]
                let formId = "replyForm-" + commentId
                $('[id^="replyForm-"]').hide();
                $("#" + formId).show(1000)
            })

            $("button[id*='cancel-btn-reply-']").click(function () {
                let commentId = $(this).prop("id").split("-")[3]
                let formId = "replyForm-" + commentId
                $("#" + formId).hide(1000)
            })
        })

	</script>
</head>
<body>
<div th:replace="fragments/header.html :: header"></div>
<div class="container">
	<div class="row">
		<div class="col-12 col-sm-8">
			<h1>Save Feature</h1>
		</div>
		<div class="col-12 col-sm-4">
			<h1>
				<span class="badge badge-pill badge-warning" style="font-size: 0.6em"
				      th:text="${feature.status}"></span>
			</h1>
		</div>
	</div>

	<div class="d-flex bd-highlight">
		<div class="voteBar p-2 flex-shrink-1 bd-highlight">
			<form id="vote" method="post" th:action="@{{id}/vote/(id=${featureId})}">
				<input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden" />
				<button id="up" name="myVote" style="background-color: transparent; border: transparent" th:value="true"
				        type="submit">
					<svg class="bi bi-caret-up-fill" height="64"
					     th:fill="${isVote == true} ? (${typeVote == true} ? 'cadetblue' : 'gray') : 'gray'"
					     viewBox="0 0 16 16" width="64"
					     xmlns="http://www.w3.org/2000/svg">
						<path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
					</svg>
				</button>
				<div class="text-center font-weight-bold" th:text="${feature.votes}">3</div>
				<button id="down" name="myVote" style="background-color: transparent; border: transparent"
				        th:value="false" type="submit">
					<svg class="bi bi-caret-down-fill" height="64"
					     th:fill="${isVote == true} ? (${typeVote == false} ? 'cadetblue' : 'gray') : 'gray'"
					     viewBox="0 0 16 16" width="64"
					     xmlns="http://www.w3.org/2000/svg">
						<path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
					</svg>
				</button>

			</form>
		</div>
		<div class="mt-1 p-2 w-100 bd-highlight">
			<form action="" method="post">
				<input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden" />
				<input th:field="${feature.id}" type="hidden" />
				<input th:field="${feature.product}" type="hidden" />
				<input th:field="${feature.status}" type="hidden" />
				<div class="form-group">
					<label for="title">Title:</label>
					<input class="form-control" id="title"
					       th:disabled="${user.id == feature.user.id ? 'false' : 'true'}"
					       th:field="${feature.title}">
				</div>
				<div class="form-group">
					<label for="desc">Description:</label>
					<textarea class="form-control" id="desc"
					          th:disabled="${user.id == feature.user.id ? 'false' : 'true'}"
					          th:field="${feature.description}" type="text"></textarea>
				</div>
				<div class="form-group" th:if="${user.id == feature.user.id}">
					<button class="btn btn-info" type="submit">Save</button>
				</div>
			</form>

			<div style="margin-top: 2em">
				<h2>Comment</h2>
				<form id="comment" method="post" th:action="@{{id}/comment/(id=${featureId})}">
					<input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden" />
					<div class="form-group" style="margin-top: 1.5em">
						<label for="content">Leave a comment below</label>
						<input autocomplete="off" class="comment-input" id="content" name="content"
						       placeholder="Type something..." required="required" type="text" />
					</div>
					<div>
						<button class="btn btn-dark float-right" type="submit">Add Comment</button>
					</div>
					<div>
						<button class="cancel-btn float-right" type="button">CANCEL</button>
					</div>
				</form>
				<div th:replace="fragments/comment.html :: commentThread"></div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
