<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <script
            crossorigin="anonymous"
            integrity="sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs="
            src="https://code.jquery.com/jquery-3.5.0.slim.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#createAccount").click(function () {
                window.location.href = "/register"
            })
        });
    </script>
</head>
<body>
<h1>Login</h1>
    <form action="" method='post'>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <fieldset>
            <legend>Please Login</legend>
            <div th:if = "${param.error != null}">
                Failed to login.
                <div th:if = "${SPRING_SECURITY_LAST_EXCEPTION != null}">
                    Reason: <span th:text="${SPRING_SECURITY_LAST_EXCEPTION.message}"></span>
                </div>
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
            <p>
                <label for="username">Username</label> <input type="text" id="username" name="username"/>
            </p>
            <p>
                <label for="password">Password</label> <input type="password" id="password" name="password"/>
            </p>
            <div>
                <button type="submit" class="btn">Log in</button>
                <button class="btn" id="createAccount" type="button">Create account</button>
            </div>
        </fieldset>
    </form>
</body>
</html>