<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<script th:replace="fragments/header.html :: headerElement"></script>
	<title>Feature Vote Product</title>
</head>
<body>
<div th:replace="fragments/header.html :: header"></div>
<div class="container" th:if="${product != null}">
	<h1>Product</h1>
	<form action="" method="post">
		<input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden" />
		<input th:field="${product.id}" type="hidden" />
		<input th:field="${product.user}" type="hidden" />

		<div class="form-group row">
			<label class="col-12 col-sm-3 col-md-2 col-form-label" for="name">Name: </label>
			<div class="col-12 col-sm-9 col-md-10">
				<input class="form-control" id="name" name="name" th:field="${product.name}" type="text" />
			</div>
		</div>

		<div class="custom-control custom-switch">
			<input class="custom-control-input" id="exampleCheck1" th:field="${product.published}" type="checkbox">
			<label class="custom-control-label" for="exampleCheck1">Published</label>
		</div>
		<button class="btn btn-primary" type="submit">Save product</button>
	</form>
</div>
</body>
</html>